
{% block form %}
<form action="http://localhost:8000/db" method="post"  autocomlete="off" class='form'>
  <ul>
    <li>
      <label for="base_input">[ Base:</label>
      <select id="base_input" name="base" required>
      {% for item in choices %}
        <option value={{ item.value }}>{{ item.name }}</option>
        {% endfor %}
      </select>
      <input type="rational" id="base_amount" name="base_amount" required/>
      <label for="base_amount"> - amount ]</label>

    </li>
    <li>
      <label for="dest_input">[ Dest:</label>
      <select id="dest_input" name="dest" required>
        {% for item in choices %}
        <option value={{ item.value }}>{{ item.name }}</option>
        {% endfor %}
      </select>
      <input type="rational" id="dest_amount" name="dest_amount" required/>
      <label for="dest_amount"> - amount ] </label>
    </li>
  </ul>
  <input type="submit" name="base_n" />
  <button type="button"  onclick="fillDb();">Fill with test examples</button>
</form>

<script>





function fillTestRecord(data) {
  fetch('/db_auto', {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify(data)
    }).then(res => {
      console.log("Request complete. responce: ", res);
    });
};
function fillDb(){
    
    let data = [
      {"base": "LTC", "base_amount":121, "dest": "BTC", "dest_amount": 1.00233},
      {"base": "ADA", "base_amount":1.22, "dest": "BTC", "dest_amount": 0.2033},
      {"base": "BTC", "base_amount":0.25, "dest": "LTC", "dest_amount": 33.33},
    ];
    fillTestRecord(data);
    setTimeout(function(){
      location.reload();
      }, 250)
  };
</script>
{% endblock %}
